body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #246BCE;
}



.top-header {
    width: 100%;
    height: 50px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.left, .right {
    display: flex;
    flex-direction: column;
    width: 33.33%;
    align-items: center; 
}

.left div, .right div {
    width: 48%;
    aspect-ratio: 1 / 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
}

.text-container {
    width: 48%;
    height: 35px;
    background-color: black;
    color: black; 
    text-align: center;
    padding: 5px 0;
    font-size: 10px;
    box-sizing: border-box;
    margin-top: 0; 
    margin-bottom: 10px;
}

.text-container p {
    margin: 0; 
    color: black; 
    font-size: 12px;
}

img {
    width: 100%; 
    height: 100%; 
    object-fit: fill; 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Center Container */
.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    width: 30%;
}


/* Center-Top Div */
.center-top {
    width: 50%;
    aspect-ratio: 1 / 1; 
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    overflow: hidden; 
}

.center-top img {
    width: 100%; 
    height: 100%; 
    object-fit: contain; 
}

/* Paragraph Styling */
.center-container p {
    text-align: center;
    font-size: 1.2em;
    color: #333;
    margin: 0;
    padding-bottom: 20px;
}
